* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", cursive;
}
.banner {
  display: flex;
  background: rgba(229, 84, 115, 0.1);
  justify-content: center;
  /* width: 1920px;
  height: 850px; */
}
.banner-text {
  width: 50%;
}
.banner-title {
  color: #272727;
  font-family: "open sans", "lato", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 800;
  padding: 197px 97px 3px 80px;
  margin-bottom: 15px;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  padding: 0 171px 32px 80px;
  margin-top: 8px;
  font-weight: 400;
}
.btn-primary {
  color: white;
  border: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding: 18px 35px 19px 36px;
  border-radius: 8px;
  background: #e55473;
  margin: 0 671px 167px 80px;
}
.banner-img {
  width: 635px;
  height: 800px;
  padding-top: 40px;
  /* background-image: bottom right; */
}
/* this is main part */
.our {
  text-align: center;
  padding-top: 178px;
  padding-bottom: 48px;
}
.our-title {
  color: #272727;
  text-align: center;

  font-size: 40px;
  padding-bottom: 24px;
  font-weight: 800;
}
.our-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
}
/* this is 2nd part */
.sector-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 24px;
  background-position: bottom center;

  
}
.single {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  /* padding-left: 100px; */
  position: bottom center;
  
}
.single-2 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  
}
.single-3 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);

}
.text-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}
/* this 3rd part */
.services-container {
  display: flex;
  margin: 128px 240px;
  justify-content: space-around;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
}
.services {
  /* padding: 86px 50px 24px 0px; */
  text-align: center;
  padding-top: 86px;
}
.par-tag {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
  /* padding: 0 100px; */
  padding-bottom: 30px;
}
/* this 4th part */
.sale-container {
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: center;
}
.sale-offer {
  text-align: center;
  /* width: 50%; */
}
.sale-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-top: 230px;
}
.off {
  color: #e55473;
}
.sale-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  padding-top: 24px;
  padding-bottom: 32px;
  padding-left: 15px;
  width: 594px;
}
.btn-sign {
  color: white;
  border: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding: 18px 35px 19px 36px;
  border-radius: 8px;
  background: #e55473;
  margin-bottom: 132px;
}
.sale-img {
  padding-top: 100px;
  margin-left: 186px;
}
.social-web {
  text-align: center;
  padding-top: 128px;
  padding-bottom: 48px;
}
.web-title {
  text-align: center;
  font-size: 40px;
  padding-bottom: 24px;
  font-weight: 800;
  color: #272727;
}
.web-description {
  color: rgba(39, 39, 39, 0.6);
}
.pic-container {
  /* display: flex; */

  /* margin: 0 240px; */

  text-align: center;
}
.pic-row {
  text-align: center;
  margin-right: 24px;
}
/* this is 6th part */
.deal-container {
  background-image: url("./Flower Asset/Rectangle 9.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 128px 240px;
  text-align: center;
}
.deal-title {
  color: #272727;
  text-align: center;
  padding-top: 122px;
  padding-bottom: 16px;
  font-size: 40px;
}
.deal-des {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 48px;
}
.input-mail {
  border-radius: 8px;
  background: #fff;
  width: 700px;
  height: 64px;
  border: none;
  margin-right: 15px;
  padding-left: 20px;
}
.btn-sub {
  color: white;
  border: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding: 18px 35px 19px 36px;
  border-radius: 8px;
  background: #e55473;
  margin-bottom: 132px;
}
.footer-shop {
  background-color: #111010;
  text-align: center;
  padding-bottom: 100px;
}
.footer-title {
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  padding-top: 128px;
  color: white;
}
.flower {
  color: #e55473;
}
.footer-des {
  color: rgba(255, 255, 255, 0.9);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 24px;
  padding-bottom: 32px;
}
.footer-time {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  /* padding-bottom: 100px; */
}
